@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --neutral-white: #fff;
  --neutral-silver: #f5f7fa;
  --neutral-grey-blue: #abbed1;
  --neutral-l-grey: #89939e;
  --neutral-grey: #717171;
  --neutral-d-grey: #4d4d4d;
  --neutral-black: #263238;
  --neutral-white-stroke: #abbed1;
  --brand-info: #2194f3;
  --brand-secondary: #263238;
  --brand-primary: #4caf4f;
  --shade-s1: #43a046;
  --shade-s2: #388e3b;
  --shade-s3: #237d31;
  --shade-s4: #1b5e1f;
  --shade-s5: #103e13;
  --tint-t1: #66bb69;
  --tint-t2: #81c784;
  --tint-t3: #a5d6a7;
  --tint-t4: #c8e6c9;
  --tint-t5: #e8f5e9;
  --action-success: #2e7d31;
  --action-error: #e53835;
  --action-warning: #fbc02d;
  --font-family: "Inter", sans-serif;
  --second-family: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1440px;
  margin: auto;
}
body {
  font-family: var(--font-family);
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.align-item-center {
  align-items: center;
}

.justify-content {
  justify-content: space-between;
}

.btn {
  border-radius: 4px;
  padding: 14px 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--neutral-white);
  margin-top: 32px;
  display: inline-block;
}
.btn svg {
  vertical-align: middle;
}

/* Nav style */

nav {
  padding: 20px 0;
  background-color: var(--neutral-silver);
}
.nav-menu li {
  display: inline-block;
  padding: 0 25px;
}
.nav-menu li a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #18191f;
}

.nav-btn .sign-in {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: var(--brand-primary);
}
.nav-btn .sign-up {
  padding: 10px 20px;
  margin-top: 0;
}
/* banner */
#banner {
  background-color: var(--neutral-silver);
}

#banner .row {
  padding: 64px 0;
}
.banner-text {
  width: 60%;
}

.bannerImg {
  width: 40%;
}

.banner-text h2 {
  font-weight: 600;
  font-size: 64px;
  line-height: 119%;
  color: var(--neutral-d-grey);
}

.banner-text h2 span {
  color: var(--brand-primary);
}

.banner-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--neutral-grey);
}

.bannerImg img {
  width: 90%;
  text-align: center;
  align-items: center;
}

#client .container {
  padding: 40px 0;
}
#client .row {
  justify-content: space-between;
  padding: 25px 0;
}

.clientText h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 122%;
  text-align: center;
  color: var(--neutral-d-grey);
}

.clientText p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--neutral-grey);
}
/*  community  */

#community .container {
  padding-bottom: 40px;
}
#community .row {
  justify-content: space-between;
  margin-top: 16px;
}
.communityTxt h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 129%;
  text-align: center;
  color: var(--neutral-d-grey);
}
.communityTxt p {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: var(--neutral-grey);
}
.comCard {
  text-align: center;
  border-radius: 8px;
  padding: 24px 32px;
  width: 299px;
  height: 260px;
  box-shadow: 0 2px 4px 0 rgba(171, 190, 209, 0.2);
  background: var(--neutral-white);
}

.comCard h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 129%;
  text-align: center;
  color: var(--neutral-d-grey);
  margin-top: 8px;
}

.comCard p {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: var(--neutral-grey-blue);
  margin: 8px 0;
}

/* unseen */
#unseen .container {
  padding-bottom: 40px;
}

.unseen-text {
  width: 50%;
}

.unseenImg {
  width: 50%;
}

.unseen-text h4 {
  font-weight: 600;
  font-size: 36px;
  line-height: 122%;
  color: var(--neutral-d-grey);
}

.unseen-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--neutral-grey);
  margin-top: 8px;
  width: 602px;
}
/* Helping start */
#helping {
  background: var(--neutral-silver);
}
#helping .row {
  padding: 64px 0;
}
#helping .container {
  padding-bottom: 40px;
}

.helpingText h4 {
  font-weight: 600;
  font-size: 36px;
  line-height: 122%;
  color: var(--neutral-d-grey);
}
.helpingText h4 span {
  color: var(--brand-primary);
}
.helpingText p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #18191f;
}

.helping-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 60px;
}

.stat-box {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 255px;
  height: 60px;
}

.stat-text {
  line-height: 1.4;
}

.stat-text h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.stat-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--neutral-grey);
}

/* design start */
#design .container {
  padding: 40px 0;
}

.design-text {
  width: 50%;
}

.designImg {
  width: 50%;
}

.design-text h4 {
  font-weight: 600;
  font-size: 36px;
  line-height: 122%;
  color: var(--neutral-d-grey);
  width: 602px;
}

.design-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--neutral-grey);
  margin-top: 8px;
  width: 602px;
}

.designImg img {
  padding-left: 80px;
}
/* Tim Smith start */
#timSmith {
  background: var(--neutral-silver);
}

#timSmith .container {
  padding: 40px 0;
}

.timSmith-text {
  width: 60%;
}

.timSmithImg {
  width: 40%;
}
.timSmithImg img {
  padding-left: 80px;
}
.timSmith-text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--neutral-grey);
}
.timSmith-text span {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--neutral-l-grey);
}
.timSmith-text h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: var(--brand-primary);
  margin: 8px 0;
}
.timSmith-text .row {
  margin-top: 16px;
}
.timSmith-text .row a {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: var(--brand-primary);
}

/* Caring star */
#caring .container {
  padding: 40px 0;
}

#caring .row {
  justify-content: space-between;
  margin-top: 30px;
}
.carCard {
  border-radius: 8px;
  padding: 16px;
  width: 317px;
  height: 176px;
  box-shadow: 0 8px 16px 0 rgba(171, 190, 209, 0.4);
  background: var(--neutral-silver);
}

.carCard p {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: var(--neutral-grey);
  padding: 4px;
}
.carCard a {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: var(--brand-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

/* demo star */
#demo {
  background: var(--neutral-silver);
}

#demo .container {
  padding: 40px 0;
}

.demoTxt {
  font-weight: 600;
  font-size: 64px;
  line-height: 160%;
  text-align: center;
  color: var(--neutral-black);
}

/* footer */

#footer {
  background-color: #263238;
  color: #ddd;
  padding: 40px 0;
}



.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h3 {
  margin-bottom: 15px;
  color: #fff;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #bbb;
  font-size: 14px;
}

.footer-section ul li a:hover {
  color: #fff;
}

.brand .logo {
  color: #fff;
  margin-bottom: 20px;
}

.brand p {
  font-size: 13px;
  color: #bbb;
  margin-bottom: 5px;
}

.social-icons {
  margin-top: 25px;
}

.social-icons a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  opacity: 0.8;
  transition: 0.3s;
}

.social-icons a img:hover {
  opacity: 1;
}

.subscribe {
  display: flex;
  align-items: center;
  background-color: #37474f;
  border-radius: 5px;
  overflow: hidden;
  width: fit-content;
}

.subscribe input {
  background: none;
  border: none;
  padding: 10px;
  color: #fff;
  width: 180px;
  outline: none;
}

.subscribe input::placeholder {
  color: #aaa;
}

.subscribe button {
  background: none;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
